*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --primary-color: #2D7DFF;
}

body {
    background: linear-gradient(220deg, rgba(189,0,255,1) 0%, rgba(0,163,255,1) 100%);
    height: 100vh;
    background-attachment: fixed;
    font-family: 'Poppins';
}

.container {
    margin: 1em .5em;
    height: calc(100% - 2em);
}

.section { 
    background: #221F26 url('./bg.jpg');
    background-size: cover;
    background-blend-mode: screen;
    background-position: 100px;
    height: 100%;
    padding: 2em;
    border-radius: 13px;
}
/* 
nav {
    display: none;
}
  */
.header{
    display: flex;
    height: 20px;
}

.menu-btn{
    cursor: pointer;
}

.logo {
    color: var(--primary-color);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    width: 100%;
    text-align: center;
    margin-top: 0em;
}

h1{
    color: #FFF;
    font-weight: 800;
    line-height: 89%;
    font-size: 48px;
    text-transform: uppercase;
    font-size: clamp(2.5rem, -0.875rem + 8.333vw, 4rem);
}

.cv{
    display: grid;
    place-items: center;
    height: 90%;
}

p{
    flex-shrink: 0;
    color: #847D93;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 275;
    line-height: 111.4%;
}

.cta{
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 111.4%;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #4D4D4D;
    padding: 1.25em 1.25em 1.25em calc(2.5em + 1.5em);
    position: relative;
}

.cta:before{
    content: '';
    position: absolute;
    background: url('arrow.svg') no-repeat;
    width: 1.5em;
    height: 1.5em;
    left: 1.25rem;
}

.cta:hover{
    background-color: var(--primary-color);
}


nav{
    position: fixed;

}

