*, *:before, *:after{
    box-sizing: border-box;
}  

:root{
       
}  

body{
    background: linear-gradient(220deg, rgba(189,0,255,1) 0%, rgba(0,163,255,1) 100%);
    height: 100vh; 
    background-attachment: fixed;
    font-family: 'poppins';
}  
  
.container{
   margin: 1em .5em;
   height: calc(100% - 2em);
}          

section{
    background: #221f26 url('./bg.jpg');
    background-size: cover;
    background-blend-mode: screen;
    background-position: -100px;
    height: 100%;
}

nav{    
    display: none;
}  
